/* ### Primary

Bright Red: hsl(12, 88%, 59%)
Dark Blue: hsl(228, 39%, 23%)

### Neutral

Dark Grayish Blue: hsl(227, 12%, 61%)
Very Dark Blue: hsl(233, 12%, 13%)
Very Pale Red: hsl(13, 100%, 96%)
Vary Light Gray: hsl(0, 0%, 98%)

 */

:root {
    --size-paragraphs: 1.6rem;
    --background-buttons: hsl(12, 88%, 59%);
    --only-background-section: hsl(12, 88%, 59%);
    --only-background-button: hsl(0, 0%, 98%);
    --color-only-title: hsl(0, 0%, 98%);
    --color-only-button: hsl(12, 88%, 59%);
    --color-buttons: hsl(0, 0%, 98%);
    --background-headings: hsl(13, 100%, 96%);
    --background-footer: hsl(233, 12%, 13%);
    --size-headings: 3.5rem;
    --size-subtitles: 2.8rem;
    --color-headings: hsl(228, 39%, 23%);
    --color-paragraphs: hsl(227, 12%, 61%);
    --line-headings: 4.5rem;
    --line-subtitles: 3.8rem;
    --line-paragraphs: 2.6rem;
    --background-card: hsl(0, 0%, 98%);
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
}
.header {
    position: relative;
    min-width: 32rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10rem;
}
.header .header__img {
    position: absolute;
    z-index: -5;
}
.header .header__img--first {
    top: -4rem;
    right: -8rem;
    width: 39rem;
    height: 38rem;
}
.header .header__img--second {
    bottom: 1rem;
    right: -20rem;
    width: 34rem;
    height: 34rem;
}
.header .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 4rem;
    margin: 2rem 0rem 4rem 0rem;
}
.header .header__nav img {
    height: 2rem;
}
.header .header__nav .header__nav--hamopen {
    height: 2.3rem;
}
.header .header__nav .header__nav--hamclose {
    height: 2.3rem;
}
.header .header__section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .header__section .header__section--figure {
    width: 100%;
}
.header .header__section .header__section--figure img {
    width: 100%;
}
.header .header__section .header__section--article {
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center; 
    align-items: center;
}
.header .header__section .header__section--article h1 {
    font-size: var(--size-headings);
    color: var(--color-headings);
    font-weight: bold;
    line-height: var(--line-headings);
}
.header .header__section .header__section--article p {
    font-size: var(--size-paragraphs);
    color: var(--color-paragraphs);
    font-weight: lighter;
    line-height: var(--line-paragraphs);
}
.header .header__section .header__section--article a {
    background-color: var(--background-buttons);
    color: var(--color-buttons);
    text-decoration: none;
    width: 15rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: var(--size-paragraphs);
}
.header .header__div .header__div--ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header .header__div .header__div--ul li a {
    text-decoration: none;
    color: var(--color-headings);
    font-size: var(--size-paragraphs);
    font-weight: 500;
}
.main {
    min-width: 32rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.main .main__section--first {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    padding-bottom: 5rem;
}
.main .main__section--first .main__section--article { 
    width: 75%;
    text-align: center;
}
.main .main__section--first .main__section--article h2 {
    color: var(--color-headings);
    font-size: var(--size-subtitles);
    font-weight: bold;
    line-height: var(--line-subtitles);
    margin-bottom: 2rem;
}
.main .main__section--first .main__section--article p {
    color: var(--color-paragraphs);
    font-size: var(--size-paragraphs);
    font-weight: lighter;
    line-height: var(--line-paragraphs);
}
.main .main__section--first .main__section--section {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-left: 1rem;
}
.main .main__section--first .main__section--section article h3 {
    display: flex;
    align-items: center;
    font-size: var(--size-paragraphs);
    font-weight: bold;
    color: var(--color-headings);
    background-color: var(--background-headings);
    gap: 1rem;
    margin-bottom: 1rem;
}
.main .main__section--first .main__section--section article h3 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    color: var(--color-buttons);
    background-color: var(--background-buttons);
    font-size: var(--size-paragraphs);
}
.main .main__section--first .main__section--section article p {
    color: var(--color-paragraphs);
    font-size: var(--size-paragraphs);
    font-weight: lighter;
    line-height: var(--line-paragraphs);
    padding-right: 2rem;
}
.main .main__section--h3 {
    font-size: var(--size-subtitles);
    font-weight: bold;
    color: var(--color-headings);
    margin-bottom: 6rem;
}
.main .main__section--swiper {
    width: 100%;
    position: relative;
    padding: 0rem 2.5rem;
    margin-bottom: 6rem;
}
.main .main__section--swiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.main .main__section--swiper .swiper-wrapper .swiper-slide:first-of-type div {
    background-image: url("../images/avatar-anisha.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.main .main__section--swiper .swiper-wrapper .swiper-slide:nth-of-type(2) div {
    background-image: url("../images/avatar-ali.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.main .main__section--swiper .swiper-wrapper .swiper-slide:nth-of-type(3) div {
    background-image: url("../images/avatar-richard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.main .main__section--swiper .swiper-wrapper .swiper-slide:last-of-type div {
    background-image: url("../images/avatar-shanai.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.main .main__section--swiper .swiper-wrapper .swiper-slide h4 {
    color: var(--color-headings);
    font-size: var(--size-paragraphs);
    font-weight: bold;
}
.main .main__section--swiper .swiper-wrapper .swiper-slide p {
    font-size: var(--size-paragraphs);
    font-weight: lighter;
    color: var(--color-paragraphs);
    text-align: center;
}
.swiper-wrapper {
    margin-bottom: 6rem;
}
.main .main__a {
    background-color: var(--background-buttons);
    color: var(--color-buttons);
    text-decoration: none;
    width: 15rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: var(--size-paragraphs);
    text-align: center;
    margin-bottom: 4rem;
}
.main .main__section--third {
    width: 100%;
    background-color: var(--only-background-section);
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
}
.main .main__section--third .main__section--article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 90%;
}
.main .main__section--third h3 {
    color: var(--color-only-title);
    font-size: var(--size-subtitles);
    font-weight: 500;
    text-align: center;
}
.main .main__section--third a {
    background-color: var(--only-background-button);
    color: var(--color-only-button);
    text-decoration: none;
    width: 15rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: var(--size-paragraphs);
    text-align: center;
}
.footer {
    width: 100%;
    background-color: var(--background-footer);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
    padding: 4rem 0rem;
    justify-items: center;
    row-gap: 4rem;
}
.footer .footer__form {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.footer .footer__form :first-of-type {
    min-width: 20rem;
    width: 50%;
    max-width: 30rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    padding-left: 1rem;
}
.footer .footer__form :first-of-type::placeholder {
    color: var(--color-paragraphs);
    font-size: 1.5rem;
}
.footer .footer__form :last-of-type {
    width: 7rem;
    height: 4rem;
    color: var(--color-buttons);
    background-color: var(--background-buttons);
    border: none;
    border-radius: 2rem;
}
.footer .footer__section--first {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 8rem;
}
.footer .footer__section--first ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer .footer__section--first ul li a {
    text-decoration: none;
    color: var(--color-buttons);
    font-size: 1.5rem;
}
.footer .footer__section--second {
    width: 90%;
    display: flex;
    justify-content: center;
}
.footer .footer__section--second ul {
    display: flex;
    gap: 4rem;
}
.footer .footer__section--second ul :first-of-type a {
    background-image: url("../images/icon-facebook.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.footer .footer__section--second ul :nth-of-type(2) a {
    background-image: url("../images/icon-youtube.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.footer .footer__section--second ul :nth-of-type(3) a {
    background-image: url("../images/icon-twitter.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.footer .footer__section--second ul :nth-of-type(4) a {
    background-image: url("../images/icon-pinterest.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.footer .footer__section--second ul :nth-of-type(5) a {
    background-image: url("../images/icon-instagram.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.footer .footer__p {
    color: var(--color-paragraphs);
    font-size: var(--size-paragraphs);
}
@media screen and (max-width: 799px) {
    .header .header__nav .header__nav--ul {
        width: 90%;
        padding: 4rem 0rem 4rem 0rem;
        background-color: var(--background-card);
        border-radius: 0.1rem;
        box-shadow: 0 30rem 10rem 30rem rgba(0, 0, 0, 0.341);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        text-align: center;
        position: fixed;
        top: 10rem;
    }
    .header__nav .header__nav--ul li a {
        text-decoration: none;
        color: var(--color-headings);
        font-size: var(--size-paragraphs);
        font-weight: 500;    text-decoration: none;
    }
}
/* Open card menu */
.header .header__nav .header__nav--inactivate {
    display: none;
}

/* Etiquetas no visibles para phone */
.header .header__nav .header__nav--a {
    display: none;
}

/* .section {
    min-height: 100vh;
}
.section--prueba {
    counter-reset: counter;
}
.section--prueba article {
    display: flex;
    align-items: center;
}
.section--prueba article::before {
    content: counter(counter);
    counter-increment: counter;
    display: inline-block;
    background-color: orange;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    text-align: center;
} *