.cards-container {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* Agregar esto para mejorar la experiencia en dispositivos móviles */
    scroll-snap-type: x mandatory; /* Agregar esto para que las cards se detengan en los puntos de desplazamiento */
  }
  
  .card {
    flex: 0 0 100%;
    scroll-snap-align: start; /* Agregar esto para que las cards se detengan en los puntos de desplazamiento */
    height: 200px;
  }
  
  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border: 2px solid orange;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .active-dot {
    background-color: orange;
    border: none;
  }
  